.introduce-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.int-img img {
  width: 250px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 15px 15px lightgrey;
}
.int-img {
  text-align: end;
  margin: 20px;
}
.int-info {
  text-align: start;
  margin: 20px;
  max-width: 500px;
}
@media screen and (max-width: 650px) {
  .introduce-container {
    display: flex;
    flex-direction: column;
  }
  .int-img {
    text-align: center;
  }
  .int-info {
    text-align: center;
  }
}
